<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        <a href="index">Trang chủ</a><br>
        <a href="about">Giới thiệu </a>
        <a href="resignation"> Đơn xin tăng lương </a><br>
        <h1>Giới thiệu thông tin</h1>
        Choose the perfect design<br>
        Create a beautiful blog that fits your style. <br>
        Choose from a selection of easy-to-use templates – all with flexible layouts and hundreds of background<br>
        images – or design something new.
        <hr  width="100%"  />
    </body>
</html>
